{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>名字</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for role in role_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.roles__title }}</td>
                <td>
                    <a class="btn btn-info" href="">编辑</a>
                    <a class="btn btn-danger" href="">删除</a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
